$blue-white: #c5e1e5;
$bg: #2a8086;
$black: #0d444d;
@mixin Roboto400 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
@mixin Roboto500 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
@mixin RobotoMono400 {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}
@mixin RobotoMono500 {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
}
@mixin Rubik400 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}
@mixin Rubik300 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}
@mixin Rubik500 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
@mixin blocksSize {
  max-width: 1510px;
  padding: 0 15px;
  width: 100%;
  margin: auto;
}
@mixin forBtns {
  outline: none;
  cursor: pointer;
  border: none;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-radius: 52% 52% 67% 40% / 45% 47% 60% 62%;
  }
  50% {
    transform: rotate(180deg);
    border-radius: 51% 49% 49% 51% / 49% 53% 47% 51%;
  }
  100% {
    transform: rotate(360deg);
    border-radius: 52% 52% 67% 40% / 45% 47% 60% 62%;
  }
}
a {
  color: #2d2d2d;
  &:hover {
    color: $bg;
  }
}
.full__container {
  background-color: #f3f7f9;
}
.header__container {
  background-color: $bg;
  .header__block {
    @include blocksSize;
    display: flex;
    height: 110px;
    a {
      margin-top: 10px;
    }
    .logo__header {
      width: 105px;
      margin-right: 50px;
      cursor: pointer;
    }
    ul {
      max-width: 515px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: auto 0;
      li {
        list-style: none;
        &:nth-child(3) {
          border-bottom: 2px solid $blue-white;
        }
        a {
          @include RobotoMono500;
          font-size: 18px;
          line-height: 24px;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          color: $blue-white;
          text-decoration: none;
          &:hover {
            border-bottom: 2px solid $blue-white;
          }
        }
      }
    }
    .log__container {
      display: flex;
      justify-content: space-between;
      margin: auto auto;
      max-width: 550px;
      margin-right: -130px;
      width: 100%;
      .search__block {
        display: flex;
        width: 270px;
        height: 40px;
        background-color: transparent;
        border-radius: 20px;
        transition: 1s;
        margin: auto;
        margin-right: 60px;
        &:hover {
          transition: 0.5s;
          background-color: #f3f7f9;
        }
        .search__input {
          width: 240px;
          height: 40px;
          border: none;
          outline: none;
          border-radius: 20px;
          background-color: transparent;
          padding: 0 15px;
          margin: auto 0;
          &:focus {
            background-color: #f3f7f9;
          }
        }
        .search__ico {
          margin-left: 10px;
          margin-right: -50px;
          width: 30px;
          cursor: pointer;
          &:hover {
            transform: scale(1.3);
          }
        }
      }
      button {
        @include forBtns;
        @include Roboto400;
        color: $blue-white;
        width: 100px;
        height: 50px;
        background-color: transparent;
        font-size: 18px;
        line-height: 24px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        &:hover {
          padding-top: 5px;
          border: 1px solid $blue-white;
          border-radius: 40px;
        }
      }
    }
    h1 {
      display: none;
    }
  }
}
.elephant__container {
  @include blocksSize;
  @include Roboto500;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  .elephant__side-bar {
    position: sticky;
    top: 30px;
    height: 960px;
    margin-top: 40px;
    width: 105px;
    .nav {
      position: relative;
      width: 105px;
      height: 130px;
      margin-bottom: 30px;
      &:nth-child(5):before {
        content: "";
        position: absolute;
        left: 0;
        width: 105px;
        height: 100px;
        background-color: $bg;
        border-radius: 52% 52% 67% 40% / 45% 47% 60% 62%;
        animation: spin 5s infinite linear;
      }
      &:hover {
        transform: scale(1.1);
        top: -5px;
      }
      .elephant__nav-img {
        margin: 14px 0 10px 0;
        position: relative;
        width: 76px;
        height: 73px;
      }
      .elephant__text {
        position: relative;
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
  .elephant__block {
    width: 100%;
    margin: 50px 0 0 50px;
    .main-cameras {
      margin-bottom: 55px;
      .main-cameras__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        .main-cameras__top-text {
          @include Rubik400;
          font-size: 24px;
          line-height: 28px;
          color: $black;
          margin-right: 80.3%;
        }
        .ico-like,
        .ico-info {
          cursor: pointer;
          &:hover {
            background-color: $blue-white;
            border-radius: 50%;
          }
        }
      }
    }
    .main-cameras__text {
      @include Rubik400;
      font-size: 18px;
      color: $black;
      line-height: 21px;
      text-transform: capitalize;
      text-align: left;
      margin-bottom: 10px;
    }
    .elephant__video {
      width: 100%;
      height: 605px;
      border-radius: 20px;
    }
  }
}
.side-cameras {
  .side-cameras__text {
    @include Rubik400;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: $black;
    text-align: left;
    margin-bottom: 10px;
  }
  .side-cameras__slider {
    display: flex;
    justify-content: space-between;
    .video-skin {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 380px;
        height: 240px;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.5);
      }
      &::before {
        content: url(../../assets/icons/live-btn-ico.svg);
        position: absolute;
        left: 25px;
        top: 25px;
      }
      .side-cameras__video {
        width: 380px;
        height: 240px;
        border-radius: 15px;
      }
    }
    .side-cameras__arrows {
      margin: auto 0;
      .right-arrow {
        content: url(../../assets/icons/right-arrow-ico.svg);
        cursor: pointer;
        &:hover {
          transform: scale(1.3);
        }
      }
      .left-arrow {
        content: url(../../assets/icons/left-arrow-ico.svg);
        cursor: pointer;
        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }
}
.information {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  .information__info-blog {
    text-align: left;
    width: 600px;
    .information__top-text {
      @include Roboto400;
      color: $black;
      font-size: 16px;
      line-height: 19px;
      text-transform: none;
      margin-bottom: 5px;
      color: $black;
      &::first-letter {
        text-transform: capitalize;
      }
    }
    .information__text {
      @include Roboto400;
      font-size: 14px;
      line-height: 20px;
      color: $black;
      text-transform: none;
      margin-bottom: 40px;
    }
    a {
      display: inline-block;
      border-bottom: 0.5px solid $black;
      text-shadow: 0 8px 10px #c5e1e5;
    }
  }
  .information__facts-blog {
    text-align: left;
    width: 600px;
    .information__text {
      @include Roboto400;
      position: relative;
      margin-left: 25px;
      font-size: 14px;
      line-height: 20px;
      color: $black;
      text-transform: none;
      margin-bottom: 20px;
      &::after {
        position: absolute;
        top: 0px;
        left: -25px;
        content: url(../../assets/icons/Vector-30.svg);
      }
    }
  }
  .information__heading-text {
    @include Rubik400;
    text-align: left;
    color: $black;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 25px;
  }
}
.donate {
  height: 400px;
  background: url(../../assets/fonts/how-it-works-fon.svg) repeat-x top;
  background-size: 100%cover;
  .donate__container {
    @include blocksSize;
    .pictures {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin-bottom: 25px;
      .tree__1 {
        content: url(../../assets/icons/tree.svg);
        margin-left: 11%;
      }
      .elephant__1 {
        position: relative;
        margin-top: 90px;
        margin-left: -130px;
        &::after {
          top: -75px;
          left: 110px;
          position: absolute;
          content: url(../../assets/icons/Bamboo.svg);
          transform: scale(1.2);
        }
      }
      .tree__2 {
        content: url(../../assets/icons/tree.svg);
        margin-right: -20%;
        margin-bottom: -250px;
      }
    }
    .donate__btn {
      @include forBtns;
      @include RobotoMono400;
      margin-left: 50%;
      transform: translateX(-50%);
      width: 355px;
      height: 50px;
      border-radius: 25px;
      box-shadow: (0px 2px 20px rgba(185, 213, 217, 0.6));
      background-color: $blue-white;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.1em;
      color: $black;
      text-transform: uppercase;
      &:hover {
        background-color: #aad8df;
      }
    }
  }
}

.footer__container {
  background-color: #196469;
  border-bottom: 5px solid #1e697063;
  .footer__block {
    @include blocksSize;
    display: flex;
    justify-content: space-between;
    height: 200px;
    a {
      margin-top: 55px;
    }
    .footer__logo {
      width: 105px;
      margin-right: 50px;
      cursor: pointer;
    }
    ul {
      max-width: 515px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: auto 0 auto -45%;
      li {
        list-style: none;
        &:nth-child(3) {
          border-bottom: 2px solid $blue-white;
        }
        a {
          @include RobotoMono500;
          font-size: 18px;
          line-height: 24px;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          color: $blue-white;
          text-decoration: none;
          &:hover {
            border-bottom: 2px solid $blue-white;
          }
        }
      }
    }
    .auther__info {
      width: 200px;
      margin: 6% -10% 0 0;
      color: $blue-white;
    }
  }
}
