$blue-white: #c5e1e5;
$bg: #2a8086;
$black: #0d444d;
@mixin Roboto400 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
@mixin Roboto500 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
@mixin RobotoMono400 {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}
@mixin RobotoMono500 {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
}
@mixin Rubik400 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}
@mixin Rubik300 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}
@mixin Rubik500 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
@mixin blocksSize {
  max-width: 1540px;
  padding: 0 30px;
  width: 100%;
  margin: auto;
  @media (max-width: 360px) {
    padding: 0 10px;
  }
}
@mixin forBtns {
  outline: none;
  cursor: pointer;
  border: none;
}
@mixin accBtns {
  height: 45px;
  width: 225px;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: transparent;
  border-bottom: 3px solid $bg;
  margin-bottom: 30px;
}
@mixin FacebookBtn {
  @include forBtns;
  @include Roboto400;
  position: relative;
  width: 215px;
  height: 55px;
  background-color: #fff;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  font-size: 16px;
  line-height: 19px;
  color: #2d2d2d;
  padding-left: 30px;
  &::after {
    position: absolute;
    content: url(./assets/icons/Facebook.svg);
    left: 20px;
    top: 15px;
  }
  &:hover {
    box-shadow: 0px 1px 10px rgba(38, 101, 112, 0.5);
  }
}
@mixin flexImgs {
  text-align: center;
  width: 480px;
  height: 360px;
  background-color: #fff;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  margin-bottom: 20px;
  transition: 0.5s;
  &:hover {
    box-shadow: 0px 12px 30px rgba(87, 162, 168, 0.4);
    transition: 0.5s;
  }
  @media (max-width: 1750px) {
    width: 440px;
  }
  @media (max-width: 1480px) {
    width: 410px;
  }
  @media (max-width: 1400px) {
    width: 335px;
    height: 270px;
  }
  @media (max-width: 1150px) {
    min-width: 420px;
  }
  @media (max-width: 980px) {
    min-width: 300px;
    margin-right: 20px;
  }
  @media (max-width: 830px) {
    width: 150px;
  }
  @media (max-width: 750px) {
    min-width: 245px;
  }
  @media (max-width: 640px) {
    min-width: 255px;
    height: 300px;
  }
  @media (max-width: 630px) {
    min-width: 65vw;
  }
  @media (max-width: 360px) {
    min-width: 74vw;
  }
}
@keyframes spin {
  0% {
    border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
  }

  50% {
    border-radius: 40% 60% 60% 40% / 40% 40% 60% 60%;
  }
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
}
@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeForUserName {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
h1 {
  display: none;
}

.full__container {
  background-color: #f3f7f9;
  @media (max-width: 1200px) {
    background-color: #fff;
  }
}
.header__container {
  position: relative;
  background-color: $bg;
  border-bottom: 5px solid #1e697063;
  .header__block {
    position: relative;
    @include blocksSize;
    display: flex;
    height: 110px;
    a {
      margin-top: 10px;
    }
    .logo__header {
      width: 105px;
      margin-right: 50px;
      cursor: pointer;
      @media (max-width: 1300px) {
        margin-top: 10px;
      }
      @media (max-width: 710px) {
        width: 50px;
        margin-top: 10px;
      }
      @media (max-width: 710px) {
        margin-top: -5px;
        margin-left: -5px;
      }
    }
    .header__burger__block {
      display: none;
      margin: auto 0 auto;
      cursor: pointer;
      &:hover {
        padding-left: 100px;
        height: 100%;
        margin-top: 25px;
        .header__menu__1100 {
          position: absolute;
          display: grid;
          z-index: 1;
          top: 95px;
          border-top: 5px solid #1e697063;
          left: 0;
          right: 0;
          height: 340px;
          background-color: $bg;
          color: #f3f7f8;
          box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.25);
          @media (max-width: 710px) {
            top: 65px;
          }
        }
      }
      .header__menu__1100 {
        display: none;
        text-align: center;
        padding-top: 30px;
        a {
          @include RobotoMono500;
          font-size: 18px;
          line-height: 24px;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          color: $blue-white;
          &:hover {
            border-bottom: 2px solid $blue-white;
          }
        }
      }
      .header__burger {
        margin: auto 0;
        width: 60px;
        transition: 0.5s;
        &:hover {
          transform: scale(0.9);
        }
        @media (max-width: 710px) {
          width: 35px;
        }
        @media (max-width: 400px) {
          margin-top: 5px;
          margin-right: 10px;
        }
      }
      @media (max-width: 1100px) {
        display: block;
      }
    }
    .header__menu {
      max-width: 515px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0;
      margin: auto 0;
      li {
        list-style: none;
        &:first-child {
          border-bottom: 2px solid $blue-white;
        }
        a {
          @include RobotoMono500;
          font-size: 18px;
          line-height: 24px;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          color: $blue-white;
          text-decoration: none;
          &:hover {
            border-bottom: 2px solid $blue-white;
          }
        }
      }
      @media (max-width: 1300px) {
        max-width: 485px;
      }
      @media (max-width: 1100px) {
        display: none;
      }
    }
    .log__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: auto 0 auto auto;
      max-width: 650px;
      width: 100%;
      .search__block {
        display: flex;
        width: 16vw;
        height: 40px;
        background-color: transparent;
        border-radius: 20px;
        transition: 1s;
        margin: auto;
        margin-right: 60px;
        &:hover {
          transition: 0.5s;
          background-color: #f3f7f9;
        }
        .search__input {
          width: 15vw;
          height: 40px;
          border: none;
          outline: none;
          border-radius: 20px;
          background-color: transparent;
          padding: 0 15px;
          margin: auto 0;
          &:focus {
            background-color: #f3f7f9;
          }
        }
        .search__ico {
          margin-left: 10px;
          margin-right: -50px;
          width: 30px;
          cursor: pointer;
          &:hover {
            transform: scale(1.3);
          }
        }
      }
      .account__btn {
        display: none;
        margin-left: 10px;
        &:hover {
          cursor: pointer;
          border-radius: 50%;
          transform: scale(0.9);
          box-shadow: 0px 0px 15px 1px rgb(112, 220, 235);
        }
      }
      button {
        @include forBtns;
        @include Roboto400;
        color: $blue-white;
        width: 100px;
        height: 50px;
        background-color: transparent;
        font-size: 18px;
        line-height: 24px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        &:hover {
          padding-top: 5px;
          border: 1px solid $blue-white;
          border-radius: 40px;
        }
        @media (max-width: 1100px) {
          display: none;
        }
      }
      @media (max-width: 1100px) {
        display: none;
      }
    }
    @media (max-width: 1300px) {
      height: 120px;
    }
    @media (max-width: 1100px) {
      justify-content: space-between;
    }
    @media (max-width: 710px) {
      height: 80px;
      padding-left: 20px;
    }
    @media (max-width: 400px) {
      height: 50px;
    }
  }
}

.watch__your__animal__container {
  background: url(./assets/fonts/watch-your-animal-fon.svg);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: auto auto;
  .watch__your__animal__block {
    @include blocksSize;
    padding-top: 25px;
    height: 770px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .info__block {
      max-width: 670px;
      width: 100%;
      color: #f3f3f3;
      .top__text_1 {
        @include Rubik300;
        margin-top: 40px;
        font-size: 74px;
        line-height: 85px;
        @media (max-width: 1530px) {
          letter-spacing: 2px;
          font-size: 60px;
          line-height: 75px;
        }
        @media (max-width: 1200px) {
          margin-top: 70px;
        }
        @media (max-width: 1150px) {
          font-size: 45px;
          line-height: 60px;
          letter-spacing: 0;
        }
        @media (max-width: 980px) {
          margin-top: 5px;
          font-size: 36px;
          line-height: 42px;
        }
        @media (max-width: 640px) {
          margin-top: 0;
        }
        @media (max-width: 620px) {
          width: 420px;
        }
        @media (max-width: 460px) {
          width: 290px;
          font-size: 32px;
          line-height: 37px;
        }
        @media (max-width: 400px) {
          letter-spacing: 0.1px;
        }
      }
      .top__text_2 {
        @include Rubik500;
        font-size: 64px;
        line-height: 76px;
        margin-bottom: 35px;
        letter-spacing: 0px;
        @media (max-width: 1530px) {
          font-size: 54px;
          line-height: 65px;
        }
        @media (max-width: 1380px) {
          font-size: 48px;
          line-height: 50px;
        }
        @media (max-width: 1100px) {
          font-size: 40px;
          line-height: 50px;
        }
        @media (max-width: 980px) {
          font-size: 30px;
          line-height: 35px;
        }
        @media (max-width: 640px) {
          margin-bottom: 20px;
        }
        @media (max-width: 620px) {
          width: 420px;
        }
        @media (max-width: 460px) {
          font-size: 28px;
          line-height: 33px;
          width: 290px;
        }
      }
      .info__text {
        @include Roboto400;
        max-width: 450px;
        width: 100%;
        font-size: 14px;
        line-height: 30px;
        margin-bottom: 90px;
        letter-spacing: 0.4px;
        @media (max-width: 1380px) {
          margin-bottom: 40px;
        }
        @media (max-width: 980px) {
          font-size: 14px;
          line-height: 20px;
          max-width: 280px;
        }
        @media (max-width: 640px) {
          margin-bottom: 30px;
        }
        @media (max-width: 620px) {
          max-width: 420px;
        }
        @media (max-width: 460px) {
          max-width: 290px;
        }
        @media (max-width: 400px) {
          margin-bottom: 12px;
        }
      }
      .watch__your__animal__btns {
        display: flex;
        margin-right: -100px;
        .btn__watch {
          @include RobotoMono400;
          @include forBtns;
          width: 260px;
          height: 52px;
          font-size: 18px;
          line-height: 24px;
          color: $black;
          border-radius: 26px;
          background-color: #f3f7f8;
          &:hover {
            background-color: $blue-white;
          }

          @media (max-width: 710px) {
            width: 170px;
            height: 35px;
            font-size: 14px;
          }
          @media (max-width: 460px) {
            width: 140px;
          }
          @media (max-width: 400px) {
            margin-left: -10px;
          }
        }
        .btn__donate {
          @include RobotoMono400;
          @include forBtns;
          display: none;
          width: 170px;
          height: 35px;
          font-size: 14px;
          color: $black;
          border-radius: 26px;
          margin-left: 15px;
          background-color: $blue-white;
          box-shadow: 0px 2px 20px rgba(185, 213, 217, 0.6);
          &:hover {
            background-color: rgb(168, 213, 221);
          }
          @media (max-width: 641px) {
            display: block;
          }
          @media (max-width: 460px) {
            width: 140px;
          }
          @media (max-width: 400px) {
            margin-right: 10px;
            margin-left: 0px;
          }
        }
        @media (max-width: 620px) {
          display: flex;
          justify-content: space-between;
          margin-right: 0;
        }
        @media (max-width: 460px) {
          width: 300px;
        }
      }
      @media (max-width: 1380px) {
        max-width: 570px;
      }
      @media (max-width: 1150px) {
        max-width: 540px;
      }
      @media (max-width: 1100px) {
        max-width: 390px;
      }
      @media (max-width: 980px) {
        max-width: 320px;
      }
      @media (max-width: 640px) {
        padding-left: 0px;
      }
      @media (max-width: 620px) {
        max-width: 420px;
        text-align: center;
        margin-top: 250px;
        margin-right: auto;
        margin-left: auto;
      }
      @media (max-width: 460px) {
        margin-left: 50%;
        transform: translateX(-50%);
      }
      @media (max-width: 400px) {
        margin-top: 245px;
      }
      @media (max-width: 360px) {
        text-align: left;
        margin-left: 0%;
        transform: translateX(-0%);
      }
    }
    .main__panda {
      position: relative;
      max-width: 800px;
      width: 100%;
      max-height: 660px;
      height: 100%;
      margin-top: 0;
      margin-right: 0;
      border-radius: 63% 37% 38% 62% / 63% 57% 43% 37%;
      border: 1px solid #000000;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      background-image: url(./assets/images/main-panda.png);
      &:hover {
        animation: spin 3s linear infinite;
        animation-direction: alternate;
        transform-origin: 55% 55%;
      }
      .fon__for__panda {
        background-color: rgba(172, 200, 202, 0.25);
        max-width: 800px;
        width: 100%;
        max-height: 660px;
        height: 100%;
        margin-top: 0;
        margin-right: 0;
        border: 1px solid transparent;
        box-shadow: 0px 4px 4px transparent;
        border-radius: 63% 37% 38% 62% / 63% 57% 43% 37%;
        transition: 1s;
        &:hover {
          background-color: transparent;
          animation: spin 3s linear infinite;
          animation-direction: alternate;
          transform-origin: 55% 55%;
        }
        .playBtn_ico {
          width: 100px;
          margin: 35% 0 50% 50%;
          transition: 0.3s;
          &:hover {
            transform: scale(1.2);
          }
          @media (max-width: 1300px) {
            margin-top: 37%;
            margin-left: 43%;
          }
          @media (max-width: 980px) {
            margin-top: 30%;
            margin-left: 45%;
          }
          @media (max-width: 710px) {
            margin-top: 12%;
            margin-left: 30%;
            transform: scale(0.8);
          }
          @media (max-width: 400px) {
            margin-top: 18%;
            margin-left: 26%;
          }
        }
      }
      @media (max-width: 1560px) {
        max-width: 46vw;
        max-height: 37vw;
        margin-top: 30px;
        background-size: cover;
      }
      @media (max-width: 1400px) {
        max-width: 44vw;
      }
      @media (max-width: 1200px) {
        max-width: 43vw;
      }
      @media (max-width: 730px) {
        max-width: 40vw;
        max-height: 31vw;
      }
      @media (max-width: 640px) {
        margin-top: 10px;
        margin-right: 0;
      }
      @media (max-width: 635px) {
        max-width: 38vw;
        max-height: 29vw;
      }
      @media (max-width: 620px) {
        position: absolute;
        margin-top: 110px;
        margin-left: 45%;
        transform: translateX(-50%);
        top: 0;
        max-width: 410px;
        max-height: 340px;
      }
      @media (max-width: 460px) {
        width: 255px;
        height: 211px;
      }
      @media (max-width: 400px) {
        margin-top: 65px;
      }
    }
    @media (max-width: 1380px) {
      max-height: 650px;
    }
    @media (max-width: 640px) {
      padding-left: 20px;
    }
    @media (max-width: 620px) {
      background-color: $bg;
      height: 600px;
    }
    @media (max-width: 460px) {
      height: 530px;
    }
    @media (max-width: 400px) {
      height: 400px;
    }
  }
  @media (max-width: 1200px) {
    background-image: url(./assets/fonts/watch-your-animal-fon-1200.svg);
  }
  @media (max-width: 980px) {
    height: 500px;
  }
  @media (max-width: 641px) {
    background-image: url(./assets/fonts/watch-your-animal-fon-640.svg);
    height: 400px;
  }
  @media (max-width: 620px) {
    height: 700px;
  }
  @media (max-width: 460px) {
    height: 630px;
  }
  @media (max-width: 400px) {
    height: 600px;
  }
}
.how__it__works__container {
  height: 870px;
  background: url(./assets/fonts/how-it-works-fon.svg);
  background-repeat: repeat-x;
  background-size: auto auto;
  background-position: bottom;
  .how__it__works__block {
    @include blocksSize;
    @media (max-width: 640px) {
      padding: 0;
    }
    .how__it__works__text {
      @include Rubik400;
      font-size: 24px;
      line-height: 28px;
      margin-top: -50px;
      margin-bottom: 70px;
      @media (max-width: 1200px) {
        margin-top: -12px;
        margin-bottom: 30px;
      }
      @media (max-width: 780px) {
        margin-top: -40px;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 30px;
      }
      @media (max-width: 640px) {
        margin-top: -30px;
      }
      @media (max-width: 400px) {
        margin-bottom: 20px;
      }
    }
    .info__circles {
      display: flex;
      justify-content: space-between;
      text-align: center;
      .cirle__1 {
        position: relative;
        width: 480px;
        &::after {
          position: absolute;
          transform: translateX(-50%);
          top: 25%;
          content: url(./assets/icons/binoculars-ico.svg);
          @media (max-width: 980px) {
            transform: translateX(0%) scale(0.75);
            top: 20%;
            left: 42%;
          }
          @media (max-width: 780px) {
            transform: translateX(-15%) scale(0.75);
          }
          @media (max-width: 640px) {
            left: 40%;
          }
          @media (max-width: 550px) {
            top: 18%;
            left: 40%;
          }
          @media (max-width: 500px) {
            top: 14%;
            left: 46.5%;
          }
          @media (max-width: 340px) {
            left: 45%;
          }
        }
      }
      .cirle__2 {
        position: relative;
        width: 480px;
        &::after {
          position: absolute;
          transform: translateX(-50%);
          top: 25%;
          content: url(./assets/icons/heart-paw-ico.svg);
          @media (max-width: 980px) {
            transform: translateX(0%) scale(0.75);
            top: 20%;
            left: 40%;
          }
          @media (max-width: 780px) {
            transform: translateX(-15%) scale(0.75);
          }
          @media (max-width: 640px) {
            top: 15%;
          }
          @media (max-width: 550px) {
            top: 18%;
            left: 37%;
          }
          @media (max-width: 500px) {
            top: 12%;
            left: 45%;
          }
          @media (max-width: 340px) {
            left: 43%;
          }
        }
      }
      .cirle__3 {
        position: relative;
        width: 480px;
        &::after {
          position: absolute;
          transform: translateX(-50%);
          top: 25%;
          content: url(./assets/icons/hand-heart-ico.svg);
          @media (max-width: 980px) {
            transform: translateX(0%) scale(0.75);
            top: 20%;
            left: 40%;
          }
          @media (max-width: 780px) {
            transform: translateX(-15%) scale(0.75);
          }
          @media (max-width: 640px) {
            top: 15%;
          }
          @media (max-width: 550px) {
            top: 18%;
            left: 37%;
          }
          @media (max-width: 500px) {
            top: 12%;
            left: 45%;
          }
          @media (max-width: 340px) {
            left: 43%;
          }
        }
      }
      .empty__circle {
        margin: auto;
        background-color: #fff;
        height: 145px;
        width: 145px;
        border-radius: 50%;
        margin-bottom: 15px;
        box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.06);
        @media (max-width: 980px) {
          height: 110px;
          width: 110px;
          margin-bottom: 10px;
        }
      }
      .circle__text {
        @include Roboto400;
        font-size: 14px;
        line-height: 20px;
        color: $black;
        @media (max-width: 500px) {
          margin-bottom: 60px;
          width: 200px;
          margin-left: auto;
          margin-right: auto;
        }
        @media (max-width: 400px) {
          margin-bottom: 55px;
        }
      }
      @media (max-width: 500px) {
        flex-wrap: wrap;
      }
    }
    @media (max-width: 640px) {
      padding-left: 20px;
      padding-right: 25px;
    }
    @media (max-width: 400px) {
      padding: 0 10px;
    }
  }
  .pictures {
    display: flex;
    justify-content: space-between;
    width: 90%;
    .bamboo__1 {
      content: url(./assets/icons/Bamboo.svg);
      margin-top: 135px;
      margin-left: 10px;
      @media (max-width: 1200px) {
        margin-top: -50px;
        margin-left: 0px;
      }
      @media (max-width: 720px) {
        display: none;
      }
    }
    .tree__1 {
      content: url(./assets/icons/tree.svg);
      margin-left: -9%;
      margin-right: 17%;
      @media (max-width: 1200px) {
        margin-left: -13%;
        margin-right: 0;
        margin-top: -30px;
      }
      @media (max-width: 720px) {
        width: 75px;
        margin-left: 5%;
      }
      @media (max-width: 510px) {
        display: none;
      }
    }
    .tree__2 {
      content: url(./assets/icons/tree.svg);
      height: 160px;
      margin-top: 160px;
      @media (max-width: 1200px) {
        margin-top: 140px;
        margin-left: -5%;
      }
      @media (max-width: 720px) {
        width: 50px;
        margin-top: 11%;
        margin-left: 0%;
      }
      @media (max-width: 500px) {
        margin-top: -15px;
      }
    }
    .panda__1 {
      position: relative;
      margin-top: 235px;
      margin-left: -7%;
      &::after {
        top: -25%;
        left: 110px;
        position: absolute;
        content: url(./assets/icons/Bamboo.svg);
      }
      @media (max-width: 1200px) {
        margin-top: 270px;
      }
      @media (max-width: 720px) {
        transform: scale(0.6);
        margin-top: 135px;
        margin-right: 9%;
      }
      @media (max-width: 510px) {
        margin-top: 85px;
      }
      @media (max-width: 500px) {
        margin-top: 45px;
      }
      @media (max-width: 400px) {
        margin-top: 60px;
        margin-left: 70px;
      }
    }
    .tree__3 {
      content: url(./assets/icons/tree.svg);
      margin-top: 220px;
      margin-left: 15%;
      @media (max-width: 1200px) {
        display: none;
      }
    }
  }
  @media (max-width: 1200px) {
    height: 780px;
    background-position: left bottom;
  }
  @media (max-width: 720px) {
    background-size: 1000px auto;
    background-position: 20% 100%;
    height: 515px;
  }
  @media (max-width: 500px) {
    background-position: 50% 100%;
    height: 950px;
  }
  @media (max-width: 400px) {
    margin-top: -40px;
  }
}
.pets__in__zoo__container {
  margin-top: 60px;
  .pets__in__zoo__block {
    @include blocksSize;
    position: relative;
    &::after {
      position: absolute;
      content: url(./assets/icons/Penguin.svg);
      bottom: 20px;
      right: -90px;
      @media (max-width: 1750px) {
        margin-right: 10px;
        right: 0px;
      }
      @media (max-width: 980px) {
        margin-right: 50px;
      }
      @media (max-width: 780px) {
        margin-right: 30px;
      }
      @media (max-width: 500px) {
        display: none;
      }
    }
    .left__arrow {
      position: absolute;
      content: url(./assets/icons/left-arrow-ico.svg);
      right: -100px;
      top: 53%;
      cursor: pointer;
      &:hover {
        transform: scale(1.3);
      }
      @media (max-width: 1750px) {
        right: 0;
      }
      @media (max-width: 1400px) {
        right: 30px;
      }
      @media (max-width: 720px) {
        top: 50%;
      }
      @media (max-width: 500px) {
        right: 10px;
        top: 48%;
      }
    }
    .right__arrow {
      position: absolute;
      content: url(./assets/icons/right-arrow-ico.svg);
      right: -100px;
      top: 46%;
      cursor: pointer;
      &:hover {
        transform: scale(1.3);
      }
      @media (max-width: 1750px) {
        right: 0;
      }
      @media (max-width: 1400px) {
        right: 30px;
      }
      @media (max-width: 720px) {
        top: 43%;
      }
      @media (max-width: 500px) {
        right: 10px;
        top: 41%;
      }
    }
    .pet__in__zoo__top-container {
      display: flex;
      justify-content: space-between;
      .name__span {
        @include Rubik400;
        font-size: 24px;
        line-height: 28px;
        color: $black;
        @media (max-width: 720px) {
          font-size: 18px;
          margin-top: -30px;
        }
        @media (max-width: 640px) {
          margin-top: -10px;
        }
        @media (max-width: 500px) {
          margin-top: -50px;
        }
      }
      .btn__choose__favorite {
        @include forBtns;
        @include RobotoMono400;
        position: relative;
        margin-bottom: 65px;
        width: 330px;
        height: 50px;
        border-radius: 25px;
        border: 1.5px solid $bg;
        background-color: transparent;
        padding-left: 40px;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.1em;
        color: $black;
        &::after {
          position: absolute;
          content: url(./assets/icons/heart-ico.svg);
          left: 0;
          padding-left: 20px;
          @media (max-width: 720px) {
            transform: scale(0.8);
            bottom: 0;
          }
        }
        &:hover {
          background-color: $blue-white;
        }
        @media (max-width: 1400px) {
          font-size: 16px;
          line-height: 21px;
          width: 300px;
          height: 40px;
        }
        @media (max-width: 720px) {
          width: 270px;
          height: 35px;
          font-size: 14px;
          margin-bottom: 0px;
          top: -30px;
        }
        @media (max-width: 640px) {
          margin-top: 15px;
        }
        @media (max-width: 500px) {
          position: absolute;
          margin-top: 665px;
          margin-left: -70vw;
        }
        @media (max-width: 380px) {
          margin-left: -75vw;
        }
        @media (max-width: 360px) {
          margin-left: -88vw;
          font-size: 14px;
          margin-top: 725px;
        }
      }
    }
    .pets__block {
      position: relative;
      overflow: hidden;
      .blocks {
        position: relative;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        cursor: pointer;
        display: none;
        animation: 1s ease-in-out;
      }
      .active,
      .next {
        display: flex;
      }

      .next {
        position: absolute;
        top: 0;
        width: 100%;
      }
      .to-left {
        animation-name: left;
      }

      .from-right {
        animation-name: right;
      }

      .to-right {
        animation-name: right;
        animation-direction: reverse;
      }

      .from-left {
        animation-name: left;
        animation-direction: reverse;
      }
      .pet__panda {
        @include flexImgs;
        @media (max-width: 630px) {
          margin-left: 18%;
        }
        @media (max-width: 460px) {
          margin-left: 30px;
        }
        @media (max-width: 360px) {
          margin-left: 15px;
        }
      }
      .pet__eagle {
        @include flexImgs;
        @media (max-width: 630px) {
          margin-left: 18%;
        }
        @media (max-width: 460px) {
          margin-left: 30px;
        }
        @media (max-width: 360px) {
          margin-left: 15px;
        }
      }
      .pet__gorilla {
        @include flexImgs;
        @media (max-width: 630px) {
          display: none;
        }
      }
      .pet__alligator {
        @include flexImgs;
        @media (max-width: 630px) {
          display: none;
        }
      }
      .pet__elephant {
        @include flexImgs;
        @media (max-width: 980px) {
          display: none;
        }
      }
      .pet__lemur {
        @include flexImgs;
        @media (max-width: 980px) {
          display: none;
        }
      }
      .pet__lion,
      .pet__snake,
      .pet__bear,
      .pet__toucan,
      .pet__buffalo,
      .pet__koala {
        @include flexImgs;
      }
      .flex__imgs {
        position: relative;
        padding-top: 20px;
        margin-bottom: 30px;
        margin-left: 50%;
        transform: translateX(-50%);
        .img__rotation {
          position: relative;
          overflow: hidden;
          width: 228px;
          height: 221px;
          border-radius: 120% 120% 170% 100% / 120% 120% 150% 150%;
          transition: transform 0.5s;
          &:hover {
            transform: rotate(360deg);
          }
          .panda__img {
            &::before {
              background: url(./assets/images/panda.png);
              @media (max-width: 1400px) {
                background: url(./assets/images/panda-1200.png);
              }
            }
          }
          .eagle__img {
            &::before {
              background: url(./assets/images/eagles.png);
              @media (max-width: 1400px) {
                background: url(./assets/images/eagles-1200.png);
              }
            }
          }
          .gorilla__img {
            &::before {
              background: url(./assets/images/gorillas.png);
              @media (max-width: 1400px) {
                background: url(./assets/images/gorillas-1200.png);
              }
            }
          }
          .alligator__img {
            &::before {
              background: url(./assets/images/alligators.png);
              @media (max-width: 1400px) {
                background: url(./assets/images/alligators-1200.png);
              }
            }
          }
          .elephant__img {
            &::before {
              background: url(./assets/images/elephants.png);
              @media (max-width: 1400px) {
                background: url(./assets/images/elephants-1200.png);
              }
            }
          }
          .lemur__img {
            &::before {
              background: url(./assets/images/lemurs.png);
              @media (max-width: 1400px) {
                background: url(./assets/images/lemurs-1200.png);
              }
            }
          }
          .lion__img {
            &::before {
              background: url(./assets/images/lev.png) no-repeat;
              background-size: auto 100%;
              background-position-x: -20px;
            }
          }
          .bear__img {
            &::before {
              background: url(./assets/images/bear.png) no-repeat;
              background-size: auto 100%;
              background-position-x: -40px;
            }
          }
          .snake__img {
            &::before {
              background: url(./assets/images/snake.png) no-repeat;
              background-size: auto 100%;
              background-position-x: -50px;
            }
          }
          .toucan__img {
            &::before {
              background: url(./assets/images/tukan.png) no-repeat;
              background-size: 100% 120%;
            }
          }
          .buffalo__img {
            &::before {
              background: url(./assets/images/buivol.png) no-repeat;
              background-size: auto 100%;
              background-position-x: -50px;
            }
          }
          .koala__img {
            &::before {
              background: url(./assets/images/koala.png) no-repeat;
              background-size: auto 100%;
              background-position-x: -50px;
            }
          }
          .img__return {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              transition: transform 0.5s;
            }
            &:hover:before {
              transform: rotate(-360deg);
            }
          }
          @media (max-width: 1400px) {
            width: 155px;
            height: 150px;
          }
        }
        @media (max-width: 1400px) {
          width: 155px;
          height: 150px;
        }
      }
      .pet__info {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #e5eaeb;
        padding-top: 30px;
        padding-left: 30px;
      }
      .top__text {
        @include Roboto500;
        font-size: 24px;
        line-height: 28px;
        color: #2d2d2d;
        text-align: left;
        margin-bottom: 5px;
        @media (max-width: 1480px) {
          font-size: 16px;
          line-height: 19px;
        }
      }
      .location__text {
        @include Roboto400;
        color: #919191;
        font-size: 16px;
        line-height: 19px;
        @media (max-width: 1480px) {
          font-size: 12px;
          line-height: 15px;
          text-align: left;
        }
      }
      .tv__ico {
        margin-right: 30px;
        @media (max-width: 1400px) {
          width: 22px;
          margin-left: 10px;
        }
        @media (max-width: 720px) {
          width: 22px;
          margin-top: -420px;
          margin-right: 10px;
        }
      }
      @media (max-width: 1750px) {
        max-width: 1380px;
      }
      @media (max-width: 1480px) {
        max-width: 1260px;
      }
      @media (max-width: 1400px) {
        max-width: 93%;
      }
      @media (max-width: 980px) {
        justify-content: normal;
        margin: 0 auto;
      }
      @media (max-width: 680px) {
        margin: 0;
      }
    }
    @media (max-width: 640px) {
      padding: 0 20px;
    }
    @media (max-width: 400px) {
      margin-top: 40px;
      padding: 0 10px;
    }
  }
  @media (max-width: 640px) {
    margin-top: 60px;
  }
  @media (max-width: 500px) {
    position: relative;
    height: 720px;
  }
  @media (max-width: 400px) {
    margin-top: 20px;
    height: 770px;
  }
}

.pay__and__feed__container {
  margin-top: 180px;
  margin-bottom: 30px;
  padding-top: 100px;
  height: 575px;
  background: url(./assets/fonts/pay-and-feed-fon.svg);
  background-repeat: repeat-x;
  background-size: auto auto;
  background-position: bottom;
  color: $blue-white;
  .pay__and__feed__block {
    @include blocksSize;
    .pay__and__feed__top-container {
      display: flex;
      justify-content: space-between;
      .pay__top__text {
        @include Rubik400;
        font-size: 24px;
        line-height: 28px;
        margin-left: 75px;
        @media (max-width: 1300px) {
          margin-left: 0;
        }
        @media (max-width: 1180px) {
          font-size: 20px;
          line-height: 20px;
        }
        @media (max-width: 1050px) {
          margin-left: 0;
          font-size: 18px;
        }
        @media (max-width: 640px) {
          padding-left: 20px;
        }
        @media (max-width: 500px) {
          margin-bottom: 20px;
        }
        @media (max-width: 400px) {
          margin-top: -10px;
          margin-left: -5px;
        }
      }
      .btn__donate {
        @include forBtns;
        @include RobotoMono400;
        margin-bottom: 65px;
        width: 355px;
        height: 50px;
        border-radius: 25px;
        box-shadow: (0px 2px 20px rgba(185, 213, 217, 0.6));
        background-color: $blue-white;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.1em;
        color: $black;
        &:hover {
          background-color: #aad8df;
        }
        @media (max-width: 1400px) {
          width: 285px;
          height: 40px;
        }
        @media (max-width: 1180px) {
          font-size: 14px;
          line-height: 20px;
          width: 220px;
          height: 35px;
        }
        @media (max-width: 780px) {
          margin-bottom: 40px;
        }
        @media (max-width: 640px) {
          margin-bottom: 35px;
          margin-right: 40px;
        }
        @media (max-width: 500px) {
          position: absolute;
          bottom: 40px;
          margin-left: 50%;
          transform: translateX(-50%);
        }
        @media (max-width: 400px) {
          bottom: 65px;
          width: 300px;
          letter-spacing: normal;
        }
      }
    }
    .pay__circles__container {
      display: flex;
      justify-content: space-between;
      text-align: center;
      .pay__circle__block {
        position: relative;
        width: 480px;
        &::after {
          position: absolute;
          transform: translateX(-50%);
          top: 25%;
        }
        &:first-child:after {
          content: url(./assets/icons/donate-ico.svg);
          @media (max-width: 780px) {
            transform: translateX(-50%) scale(0.75);
            top: 15%;
          }
          @media (max-width: 640px) {
            top: 4vw;
            transform: translateX(-50%) scale(0.6);
          }
          @media (max-width: 500px) {
            top: 12%;
            transform: translateX(-50%) scale(0.75);
          }
          @media (max-width: 400px) {
            margin-left: -35px;
          }
          @media (max-width: 350px) {
            margin-left: -15px;
          }
        }
        &:nth-child(2):after {
          content: url(./assets/icons/trust-ico.svg);
          @media (max-width: 780px) {
            transform: translateX(-50%) scale(0.75);
            top: 15%;
          }
          @media (max-width: 640px) {
            top: 4vw;
            transform: translateX(-50%) scale(0.6);
          }
          @media (max-width: 500px) {
            top: 12%;
            transform: translateX(-50%) scale(0.75);
          }
          @media (max-width: 400px) {
            margin-left: -35px;
          }
          @media (max-width: 350px) {
            margin-left: -15px;
          }
        }
        &:nth-child(3):after {
          content: url(./assets/icons/monkey-ico.svg);
          @media (max-width: 780px) {
            transform: translateX(-50%) scale(0.75);
            top: 15%;
          }
          @media (max-width: 640px) {
            top: 4vw;
            transform: translateX(-50%) scale(0.6);
          }
          @media (max-width: 500px) {
            top: 12%;
            transform: translateX(-50%) scale(0.75);
          }
          @media (max-width: 400px) {
            margin-left: -35px;
          }
          @media (max-width: 350px) {
            margin-left: -15px;
          }
        }
        @media (max-width: 500px) {
          margin-bottom: 75px;
        }
      }
      .pay__circle {
        margin: auto;
        background-color: #fff;
        height: 145px;
        width: 145px;
        border-radius: 50%;
        margin-bottom: 15px;
        box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
        @media (max-width: 780px) {
          width: 110px;
          height: 110px;
        }
        @media (max-width: 600px) {
          width: 17vw;
          height: 17vw;
        }
        @media (max-width: 500px) {
          width: 110px;
          height: 110px;
        }
        @media (max-width: 400px) {
          margin-left: 90px;
        }
      }
      .pay__circle__text {
        @media (max-width: 780px) {
          width: 180px;
        }
        @media (max-width: 600px) {
          width: 20vw;
          margin: auto;
        }
        @media (max-width: 500px) {
          width: 180px;
        }
        @media (max-width: 400px) {
          margin-top: -5px;
          margin-left: 55px;
        }
      }
      .line {
        position: absolute;
        border-top: 1px solid $blue-white;
        width: 45%;
        margin-top: -90px;
        margin-left: 360px;
        &::after {
          position: absolute;
          content: url(./assets/icons/right-arrow-2-ico.svg);
          margin-left: 52%;
          margin-top: -12px;
          @media (max-width: 780px) {
            margin-top: 10px;
            margin-left: 0;
          }
          @media (max-width: 640px) {
            margin-top: -10px;
            margin-left: 0vw;
          }
          @media (max-width: 500px) {
            transform: rotate(90deg);
            margin-top: 150px;
            margin-left: -32vw;
          }
          @media (max-width: 400px) {
            margin-top: 125px;
            margin-left: -43vw;
          }
        }
        @media (max-width: 1420px) {
          margin-left: 75%;
        }
        @media (max-width: 1300px) {
          margin-top: -70px;
        }
        @media (max-width: 1050px) {
          width: 25%;
          margin-left: 85%;
        }
        @media (max-width: 780px) {
          border-top: 1px solid transparent;
        }
        @media (max-width: 500px) {
          width: 1%;
        }
      }
      @media (max-width: 640px) {
        height: 200px;
      }
      @media (max-width: 500px) {
        flex-wrap: wrap;
      }
    }
    @media (max-width: 640px) {
      padding: 0 15px;
    }
    @media (max-width: 400px) {
      padding: 0 0;
    }
  }
  @media (max-width: 1200px) {
    margin-bottom: 40px;
    margin-top: 75px;
    background-position: -350px 0px;
  }
  @media (max-width: 1050px) {
    background-position: -500px 0px;
  }
  @media (max-width: 950px) {
    background-image: url(./assets/fonts/pay-and-feed-fon-640.svg);
    background-repeat: no-repeat;
    background-position: 0 -120px;
    background-size: cover;
  }
  @media (max-width: 780px) {
    margin-top: 50px;
    padding-top: 70px;
  }
  @media (max-width: 640px) {
    background-position: 0 -110px;
    padding-top: 60px;
    margin-top: 15px;
  }
  @media (max-width: 500px) {
    height: 910px;
    background-image: url(./assets/fonts/pay-and-feed-fon-320.svg);
    background-position: 0 0;
  }
  @media (max-width: 500px) {
    position: relative;
    margin-bottom: 30px;
  }
}
.testimonials__container {
  .testimonials__block {
    @include blocksSize;
    .testimonials__top-container {
      display: flex;
      justify-content: space-between;
      .testimonials__top__text {
        @include Rubik400;
        font-size: 24px;
        line-height: 28px;
        color: $black;
        @media (max-width: 780px) {
          font-size: 18px;
        }
        @media (max-width: 640px) {
          margin-top: 5px;
        }
      }
      .btn__feedback {
        @include forBtns;
        @include RobotoMono400;
        position: relative;
        margin-bottom: 50px;
        width: 225px;
        height: 50px;
        border-radius: 25px;
        border: 1.5px solid $bg;
        background-color: transparent;
        padding-left: 35px;
        font-size: 18px;
        line-height: 24px;
        color: $black;
        &::after {
          position: absolute;
          content: url(./assets/icons/message-ico.svg);
          left: 0;
          padding-left: 15px;
          @media (max-width: 780px) {
            transform: scale(0.8);
          }
        }
        &:hover {
          background-color: $blue-white;
        }
        @media (max-width: 1300px) {
          height: 35px;
          width: 235px;
          margin-bottom: 30px;
        }
        @media (max-width: 780px) {
          width: 210px;
          font-size: 14px;
          margin-bottom: 30px;
        }
        @media (max-width: 500px) {
          position: absolute;
          margin-top: 750px;
          margin-left: 50%;
          transform: translateX(-53%);
          width: 300px;
          margin-bottom: 0;
        }
        @media (max-width: 360px) {
          margin-top: 700px;
        }
      }
      @media (max-width: 780px) {
        margin-top: -120px;
      }
      @media (max-width: 500px) {
        margin-top: 0px;
      }
    }
    .comments__block {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 100px;
      height: 300px;
      .comment__block {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: auto;
        width: 90%;
        animation-name: fade;
        animation-duration: 2.5s;
        .info__comment {
          width: 100%;
          position: relative;
          height: 275px;
          background-color: #fff;
          box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
          border-radius: 10px;
          z-index: 1;
          cursor: pointer;
          &::after {
            z-index: -1;
            position: absolute;
            content: "";
            width: 50px;
            height: 50px;
            border: 20px solid;
            border-color: #fff;
            border-radius: 5px;
            transform: rotate(-125deg) skewX(20deg);
            bottom: -5px;
            left: 45px;
          }
          .date__comment {
            @include Roboto400;
            font-size: 20px;
            line-height: 16px;
            color: #b3b3b3;
            margin: 0 0 20px 45px;
            padding-top: 30px;
            @media (max-width: 1050px) {
              font-size: 16px;
              padding-top: 20px;
            }
            @media (max-width: 880px) {
              font-size: 12px;
              padding-top: 20px;
            }
            @media (max-width: 500px) {
              font-size: 10px;
              line-height: 15px;
            }
            @media (max-width: 350px) {
              padding-top: 10px;
              margin: 0 0 10px 20px;
            }
          }
          .text__comment {
            @include Roboto400;
            font-size: 22px;
            line-height: 30px;
            font-style: italic;
            color: #2d2d2d;
            margin: 0 45px;
            @media (max-width: 1050px) {
              font-size: 16px;
              line-height: 25px;
            }
            @media (max-width: 880px) {
              font-size: 12px;
              margin: 0 20px;
              line-height: 20px;
            }
            @media (max-width: 500px) {
              font-size: 11px;
              line-height: 15px;
            }
          }
          @media (max-width: 1050px) {
            height: 200px;
          }
        }
        img {
          margin-top: 30px;
          margin-left: 35px;
          height: 62px;
          @media (max-width: 720px) {
            margin-left: 35px;
            width: 40px;
            height: 40px;
          }
          @media (max-width: 360px) {
            margin-left: 20px;
          }
        }
        .info__person {
          @include Roboto400;
          position: absolute;
          font-style: italic;
          font-size: 16px;
          line-height: 19px;
          margin: 50px 0 0 10px;
        }
        @media (max-width: 640px) {
          &:nth-child(3) {
            display: none;
          }
        }
        @media (max-width: 880px) {
          margin-bottom: 20px;
        }
        @media (max-width: 500px) {
          font-size: 14px;
          margin-bottom: 30px;
          &:nth-child(3) {
            display: block;
          }
        }
      }
      @media (max-width: 1300px) {
        margin-bottom: 40px;
      }
      @media (max-width: 780px) {
        margin-bottom: 40px;
      }
      @media (max-width: 640px) {
        margin-bottom: 10px;
      }
      @media (max-width: 500px) {
        margin-top: 20px;
      }
    }
    @media (max-width: 640px) {
      padding: 0 20px;
    }
    @media (max-width: 400px) {
      padding: 0 10px;
    }
  }
}
.look__animals__container {
  @include blocksSize;
  margin-bottom: 115px;
  .look__animals__block {
    .look__animals__top__text {
      @include Rubik400;
      font-size: 24px;
      line-height: 28px;
      color: $black;
      margin-bottom: 65px;
      @media (max-width: 1300px) {
        margin-bottom: 50px;
        margin-top: 50px;
      }
      @media (max-width: 780px) {
        margin-bottom: 30px;
        font-size: 18px;
      }
      @media (max-width: 640px) {
        margin-top: 10px;
      }
    }
    .look__animals__slider {
      display: flex;
      justify-content: space-between;
      padding-left: 10px;
      div {
        @media (max-width: 1300px) {
          &:nth-child(7) {
            display: none;
          }
        }
        @media (max-width: 780px) {
          &:nth-child(5) {
            display: none;
          }
          &:nth-child(6) {
            display: none;
          }
        }
        @media (max-width: 500px) {
          margin: 0 5px 20px;
          &:nth-child(5) {
            display: block;
          }
          &:nth-child(6) {
            display: block;
          }
        }
        @media (max-width: 400px) {
          margin-bottom: 10px;
          padding-bottom: 17px;
        }
      }
      @media (max-width: 640px) {
        padding-left: 0px;
      }
      @media (max-width: 500px) {
        flex-wrap: wrap;
      }
    }
    .look__animals__img-rotation {
      position: relative;
      overflow: hidden;
      width: 76px;
      height: 73px;
      border-radius: 120% 120% 170% 100% / 120% 120% 150% 150%;
      transition: transform 0.5s;
      &:hover {
        transform: rotate(360deg);
      }
      .panda__img {
        &::before {
          background: url(./assets/images/panda.png);
          background-size: 100%;
        }
      }
      .eagle__img {
        &::before {
          background: url(./assets/images/eagles.png);
          background-size: 100%;
        }
      }
      .gorilla__img {
        &::before {
          background: url(./assets/images/gorillas.png);
          background-size: 100%;
        }
      }
      .alligator__img {
        &::before {
          background: url(./assets/images/alligators.png);
          background-size: 100%;
        }
      }
      .elephant__img {
        &::before {
          background: url(./assets/images/elephants.png);
          background-size: 100%;
        }
      }
      .lemur__img {
        &::before {
          background: url(./assets/images/lemurs.png);
          background-size: 100%;
        }
      }
      .look__animals__img {
        position: absolute;
        width: 76px;
        height: 73px;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          transition: transform 0.5s;
        }
        &:hover:before {
          transform: rotate(-360deg);
        }
      }
    }

    .animal__name {
      @include RobotoMono500;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      color: #2d2d2d;
      margin-top: 8px;
      @media (max-width: 640px) {
        margin-top: 16px;
      }
    }
    .look__animals__arrows {
      .left__arrow {
        content: url(./assets/icons/right-arrow-ico.svg);
        cursor: pointer;
        &:hover {
          transform: scale(1.3);
        }
      }
      .right__arrow {
        content: url(./assets/icons/left-arrow-ico.svg);
        cursor: pointer;
        &:hover {
          transform: scale(1.3);
        }
        @media (max-width: 500px) {
          display: none;
        }
      }
      @media (max-width: 1200px) {
        margin-left: -30px;
      }
      @media (max-width: 640px) {
        margin-left: -30px;
        margin-top: 7px;
        margin-right: -10px;
      }
      @media (max-width: 500px) {
        display: none;
      }
    }
    .bottom__arrow {
      display: none;
      cursor: pointer;
      &:hover {
        transform: translateX(-50%) rotate(90deg) scale(1.2);
      }
      @media (max-width: 500px) {
        position: absolute;
        display: block;
        transform: translateX(-50%) rotate(90deg);
        bottom: -30px;
        left: 50%;
      }
    }
    @media (max-width: 500px) {
      position: relative;
    }
  }
  @media (max-width: 1300px) {
    margin-top: 120px;
    margin-bottom: 60px;
  }
  @media (max-width: 780px) {
    margin-bottom: 50px;
  }
  @media (max-width: 640px) {
    padding: 0 20px;
    margin-bottom: 40px;
    margin-top: 0px;
  }
  @media (max-width: 400px) {
    padding: 0 10px;
  }
}
.footer__container {
  background-color: #196469;
  border-bottom: 5px solid #1e697063;
  .footer__block {
    @include blocksSize;
    display: flex;
    justify-content: space-between;
    height: 200px;
    a {
      margin-top: 55px;
      @media (max-width: 710px) {
        margin-top: 20px;
      }
    }
    .footer__logo {
      width: 105px;
      margin-right: 35px;
      cursor: pointer;
      @media (max-width: 1300px) {
        margin-top: -30px;
      }
      @media (max-width: 710px) {
        width: 50px;
        margin-top: 0px;
        margin-left: -9px;
      }
      @media (max-width: 400px) {
        margin-left: 10px;
      }
    }
    ul {
      max-width: 515px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: auto auto auto 50px;
      li {
        list-style: none;
        &:first-child {
          border-bottom: 2px solid $blue-white;
        }
        a {
          @include RobotoMono500;
          font-size: 18px;
          line-height: 24px;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          color: $blue-white;
          text-decoration: none;
          &:hover {
            border-bottom: 2px solid $blue-white;
          }
        }
      }
      @media (max-width: 1300px) {
        width: 470px;
      }
      @media (max-width: 1100px) {
        display: none;
      }
    }
    .auther__info {
      width: 200px;
      margin: auto 0 auto auto;
      color: $blue-white;
      @media (max-width: 710px) {
        font-size: 12px;
        width: 160px;
      }
    }
    @media (max-width: 1300px) {
      height: 120px;
    }
    @media (max-width: 710px) {
      height: 80px;
    }
  }
}

.login-logout {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 32, 32, 0.6);
  z-index: 5;
  .login-logout__container {
    text-align: center;
    margin-top: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 570px;
    background: #fff;
    border-radius: 23px;
    .login-logout__header {
      height: 125px;
      background: $bg;
      border-radius: 20px 20px 0px 0px;
      text-align: center;
      margin-bottom: 30px;
      img {
        margin-top: 40px;
        width: 70px;
      }
    }
    .create-acc {
      @include forBtns;
      @include Roboto400;
      @include accBtns;
    }
    .login-acc {
      @include forBtns;
      @include Roboto400;
      @include accBtns;
      border-bottom: 3px solid $blue-white;
      margin-bottom: 30px;
    }
    .google__sign-in {
      @include FacebookBtn;
      margin-right: 10px;
      &::after {
        content: url(./assets/icons/Google.svg);
      }
    }
    .facebook__sign-in {
      @include FacebookBtn;
      margin-bottom: 10px;
      display: inline;
    }
    .input__top-text {
      @include Roboto400;
      text-align: left;
      margin-left: 70px;
      font-size: 14px;
      line-height: 16px;
      color: $black;
      margin-top: 20px;
      text-transform: uppercase;
    }
    .login-logout__inputs {
      outline: none;
      border: none;
      width: 450px;
      height: 55px;
      background: #ffffff;
      box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
      border-radius: 10px;
      padding: 0 10px;
    }
    .checkbox__text {
      @include Roboto400;
      font-size: 16px;
      margin-top: 30px;
      line-height: 19px;
      color: #2d2d2d;
      a {
        color: #2d2d2d;
        border-bottom: 1px solid #a7a7a7;
      }
    }
    .login-logout__btn {
      @include forBtns;
      @include RobotoMono400;
      width: 450px;
      margin-top: 50px;
      height: 54px;
      border-radius: 27px;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $blue-white;
      margin-bottom: 50px;
      &:disabled {
        background-color: #61a7ac;
      }
      &:enabled {
        background-color: $bg;
        color: #fff;
        &:hover {
          background-color: rgb(45, 159, 163);
        }
      }
    }
  }
}
.skin__send-btn {
  cursor: pointer;
  position: absolute;
  left: 60px;
  bottom: 50px;
  width: 450px;
  height: 54px;
  border-radius: 27px;
  background: transparent;
}
.skin-btn__active {
  cursor: pointer;
  position: absolute;
  left: 60px;
  bottom: 110px;
  width: 450px;
  height: 30px;
  background: transparent;
  font-size: 20px;
  color: #ff0519;
  &::after {
    font-weight: bold;
    content: "Incorrect email or password";
  }
}
.user__name {
  @include RobotoMono500;
  position: absolute;
  display: none;
  text-align: center;
  font-size: 18px;
  line-height: 19px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: $black;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  background-color: #f3f5f7;
  top: 10px;
  z-index: 5;
  right: 110px;
  padding: 15px;
  animation-name: fadeForUserName;
  animation-duration: 3s;
  &::after {
    position: absolute;
    content: "";
    border: 20px solid transparent;
    border-bottom: 30px solid #f3f5f7;
    right: -30px;
    top: 30px;
    transform: rotate(90deg);
  }
}
.btn__logout {
  position: absolute;
  display: none;
  right: 10px;
  bottom: -20px;
  width: 100px;
  height: 10px;
  border-radius: 10px;
  font-size: 15px;
  box-shadow: 0px 0px 7px rgb(223, 223, 223);
  background-color: #0f6570 !important;
  transform: scale(0.7);
}
