@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-radius: 52% 52% 67% 40% / 45% 47% 60% 62%;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-radius: 51% 49% 49% 51% / 49% 53% 47% 51%;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-radius: 52% 52% 67% 40% / 45% 47% 60% 62%;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-radius: 52% 52% 67% 40% / 45% 47% 60% 62%;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-radius: 51% 49% 49% 51% / 49% 53% 47% 51%;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-radius: 52% 52% 67% 40% / 45% 47% 60% 62%;
  }
}

a {
  color: #2d2d2d;
}

a:hover {
  color: #2a8086;
}

.full__container {
  background-color: #f3f7f9;
}

.header__container {
  position: relative;
  background-color: #2a8086;
  border-bottom: 5px solid #1e697063;
}

.header__container .header__block {
  max-width: 1510px;
  padding: 0 15px;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 110px;
}

.header__container .header__block a {
  margin-top: 10px;
}

.header__container .header__block .logo__header {
  width: 105px;
  margin-right: 50px;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .header__container .header__block .logo__header {
    margin-left: 20px;
  }
}

@media (max-width: 710px) {
  .header__container .header__block .logo__header {
    width: 50px;
    margin-top: 10px;
  }
}

@media (max-width: 700px) {
  .header__container .header__block .logo__header {
    margin-left: 5px;
  }
}

@media (max-width: 500px) {
  .header__container .header__block .logo__header {
    margin-top: 0px;
  }
}

@media (max-width: 400px) {
  .header__container .header__block .logo__header {
    margin-top: -2px;
    margin-left: -2px;
  }
}

.header__container .header__block .header__burger__block {
  display: none;
  margin: auto 0 auto;
  cursor: pointer;
}

.header__container .header__block .header__burger__block:hover {
  padding-left: 100px;
  height: 100%;
  margin-top: 25px;
}

.header__container .header__block .header__burger__block:hover .header__menu__1100 {
  position: absolute;
  display: -ms-grid;
  display: grid;
  z-index: 1;
  top: 95px;
  border-top: 5px solid #1e697063;
  left: 0;
  right: 0;
  height: 340px;
  background-color: #2a8086;
  color: #f3f7f8;
  -webkit-box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.25);
}

@media (max-width: 710px) {
  .header__container .header__block .header__burger__block:hover .header__menu__1100 {
    top: 65px;
  }
}

@media (max-width: 500px) {
  .header__container .header__block .header__burger__block:hover .header__menu__1100 {
    top: 46px;
  }
}

.header__container .header__block .header__burger__block .header__menu__1100 {
  display: none;
  text-align: center;
  padding-top: 30px;
}

.header__container .header__block .header__burger__block .header__menu__1100 a {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #c5e1e5;
}

.header__container .header__block .header__burger__block .header__menu__1100 a:hover {
  border-bottom: 2px solid #c5e1e5;
}

.header__container .header__block .header__burger__block .header__burger {
  margin: auto 0;
  width: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__container .header__block .header__burger__block .header__burger:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media (max-width: 710px) {
  .header__container .header__block .header__burger__block .header__burger {
    width: 35px;
    margin-right: 10px;
  }
}

@media (max-width: 1100px) {
  .header__container .header__block .header__burger__block {
    display: block;
  }
}

.header__container .header__block .header__menu {
  max-width: 515px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: auto 0;
}

.header__container .header__block .header__menu li {
  list-style: none;
}

.header__container .header__block .header__menu li:nth-child(3) {
  border-bottom: 2px solid #c5e1e5;
}

.header__container .header__block .header__menu li a {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #c5e1e5;
  text-decoration: none;
}

.header__container .header__block .header__menu li a:hover {
  border-bottom: 2px solid #c5e1e5;
}

@media (max-width: 1300px) {
  .header__container .header__block .header__menu {
    max-width: 480px;
  }
}

@media (max-width: 1100px) {
  .header__container .header__block .header__menu {
    display: none;
  }
}

.header__container .header__block .log__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto 0 auto auto;
  max-width: 550px;
  width: 100%;
}

.header__container .header__block .log__container .search__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 40px;
  background-color: transparent;
  border-radius: 20px;
  -webkit-transition: 1s;
  transition: 1s;
  margin: auto;
  margin-right: 60px;
}

.header__container .header__block .log__container .search__block:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #f3f7f9;
}

.header__container .header__block .log__container .search__block .search__input {
  width: 240px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: transparent;
  padding: 0 15px;
  margin: auto 0;
}

.header__container .header__block .log__container .search__block .search__input:focus {
  background-color: #f3f7f9;
}

.header__container .header__block .log__container .search__block .search__ico {
  margin-left: 10px;
  margin-right: -50px;
  width: 30px;
  cursor: pointer;
}

.header__container .header__block .log__container .search__block .search__ico:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.header__container .header__block .log__container .account__btn {
  display: none;
}

.header__container .header__block .log__container .account__btn:hover {
  cursor: pointer;
  border-radius: 50%;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: 0px 0px 15px 1px #70dceb;
          box-shadow: 0px 0px 15px 1px #70dceb;
}

@media (max-width: 1300px) {
  .header__container .header__block .log__container .account__btn {
    display: block;
    margin-left: 10px;
    margin-right: 20px;
  }
}

.header__container .header__block .log__container button {
  outline: none;
  cursor: pointer;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #c5e1e5;
  width: 100px;
  height: 50px;
  background-color: transparent;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__container .header__block .log__container button:hover {
  padding-top: 5px;
  border: 1px solid #c5e1e5;
  border-radius: 40px;
}

@media (max-width: 1300px) {
  .header__container .header__block .log__container button {
    display: none;
  }
}

@media (max-width: 1100px) {
  .header__container .header__block .log__container {
    display: none;
  }
}

@media (max-width: 1100px) {
  .header__container .header__block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 710px) {
  .header__container .header__block {
    height: 80px;
  }
}

@media (max-width: 500px) {
  .header__container .header__block {
    height: 60px;
  }
}

@media (max-width: 400px) {
  .header__container .header__block {
    height: 50px;
  }
}

.header__container h1 {
  display: none;
}

.panda__container {
  max-width: 1510px;
  padding: 0 15px;
  width: 100%;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.panda__container .panda__side-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  height: 960px;
  margin-top: 40px;
  width: 105px;
}

.panda__container .panda__side-bar .nav {
  position: relative;
  width: 105px;
  height: 130px;
  margin-bottom: 30px;
}

.panda__container .panda__side-bar .nav:first-child:before {
  content: "";
  position: absolute;
  left: 0;
  width: 105px;
  height: 100px;
  background-color: #2a8086;
  border-radius: 52% 52% 67% 40% / 45% 47% 60% 62%;
  -webkit-animation: spin 5s infinite linear;
          animation: spin 5s infinite linear;
}

@media (max-width: 1300px) {
  .panda__container .panda__side-bar .nav:first-child:before {
    width: 82px;
    margin-left: 10px;
    height: 80px;
  }
}

@media (max-width: 800px) {
  .panda__container .panda__side-bar .nav:first-child:before {
    width: 51px;
    height: 50px;
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .panda__container .panda__side-bar .nav:first-child:before {
    display: none;
  }
}

.panda__container .panda__side-bar .nav:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  top: -5px;
}

@media (max-width: 500px) {
  .panda__container .panda__side-bar .nav:hover {
    z-index: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    top: 0;
    -webkit-box-shadow: 0 0px 10px 0px #196469;
            box-shadow: 0 0px 10px 0px #196469;
    border: none;
  }
  .panda__container .panda__side-bar .nav:hover .panda__nav-img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .panda__container .panda__side-bar .nav:hover .panda__text {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .panda__container .panda__side-bar .nav:hover .side-bar__bottom-arrow {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .panda__container .panda__side-bar .nav:hover:nth-child(1) {
    -webkit-box-shadow: 0 3px 5px 0px #196469;
            box-shadow: 0 3px 5px 0px #196469;
  }
}

.panda__container .panda__side-bar .nav .panda__nav-img {
  margin: 14px 0 10px 0;
  position: relative;
  width: 76px;
  height: 73px;
}

@media (max-width: 1300px) {
  .panda__container .panda__side-bar .nav .panda__nav-img {
    width: 62px;
    height: 60px;
  }
}

@media (max-width: 800px) {
  .panda__container .panda__side-bar .nav .panda__nav-img {
    width: 41px;
    height: 40px;
    margin: 5px 0 0px 0;
  }
}

@media (max-width: 500px) {
  .panda__container .panda__side-bar .nav .panda__nav-img {
    margin: 9px 0 9px 20px;
  }
}

.panda__container .panda__side-bar .nav .panda__text {
  position: relative;
  font-size: 14px;
  line-height: 18px;
}

@media (max-width: 800px) {
  .panda__container .panda__side-bar .nav .panda__text {
    font-size: 12px;
    margin-top: 5px;
    text-transform: capitalize;
  }
}

@media (max-width: 500px) {
  .panda__container .panda__side-bar .nav .panda__text {
    position: static;
    margin: auto 0 auto 20px;
    color: #f3f7f8;
  }
}

@media (max-width: 800px) {
  .panda__container .panda__side-bar .nav {
    width: 50px;
    height: 70px;
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .panda__container .panda__side-bar .nav {
    position: relative;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #2a8086;
    border-bottom: 1px solid rgba(168, 168, 168, 0.25);
  }
  .panda__container .panda__side-bar .nav a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.panda__container .panda__side-bar .nav .side-bar__bottom-arrow {
  display: none;
}

@media (max-width: 500px) {
  .panda__container .panda__side-bar .nav .side-bar__bottom-arrow {
    position: absolute;
    display: block;
    right: 10%;
    top: 15px;
  }
}

@media (max-width: 500px) {
  .panda__container .panda__side-bar .nav {
    -webkit-box-shadow: 0 3px 5px 0px #196469;
            box-shadow: 0 3px 5px 0px #196469;
    border-bottom: none;
  }
}

@media (max-width: 1300px) {
  .panda__container .panda__side-bar .nav {
    margin-bottom: 5px;
  }
}

@media (max-width: 700px) {
  .panda__container .panda__side-bar .nav {
    margin-bottom: 22px;
  }
}

@media (max-width: 500px) {
  .panda__container .panda__side-bar .nav {
    height: 60px;
    margin-top: -10px;
    margin-bottom: 0px;
  }
}

@media (max-width: 800px) {
  .panda__container .panda__side-bar {
    width: 50px;
    margin-top: 20px;
  }
}

@media (max-width: 500px) {
  .panda__container .panda__side-bar {
    height: 100%;
    display: -ms-grid;
    display: grid;
    position: static;
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .panda__container .panda__side-bar :nth-of-type(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .panda__container .panda__side-bar :nth-of-type(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .panda__container .panda__side-bar :nth-of-type(4) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .panda__container .panda__side-bar :nth-of-type(5) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .panda__container .panda__side-bar :nth-of-type(6) {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
}

@media (max-width: 700px) {
  .panda__container .panda__side-bar {
    margin-top: 10px;
  }
}

.panda__container .panda__block {
  width: 100%;
  margin: 50px 0 0 50px;
}

.panda__container .panda__block .main-cameras {
  margin-bottom: 55px;
}

.panda__container .panda__block .main-cameras .main-cameras__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.panda__container .panda__block .main-cameras .main-cameras__top .main-cameras__top-text {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #0d444d;
}

@media (max-width: 1300px) {
  .panda__container .panda__block .main-cameras .main-cameras__top .main-cameras__top-text {
    margin-bottom: 5px;
  }
}

@media (max-width: 800px) {
  .panda__container .panda__block .main-cameras .main-cameras__top .main-cameras__top-text {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .panda__container .panda__block .main-cameras .main-cameras__top .main-cameras__top-text {
    margin-top: -10px;
    margin-left: -5px;
    margin-bottom: 10px;
  }
}

.panda__container .panda__block .main-cameras .main-cameras__top .main-cameras__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 110px;
}

.panda__container .panda__block .main-cameras .main-cameras__top .main-cameras__icons .ico-like,
.panda__container .panda__block .main-cameras .main-cameras__top .main-cameras__icons .ico-info {
  cursor: pointer;
}

.panda__container .panda__block .main-cameras .main-cameras__top .main-cameras__icons .ico-like:hover,
.panda__container .panda__block .main-cameras .main-cameras__top .main-cameras__icons .ico-info:hover {
  background-color: #c5e1e5;
  border-radius: 50%;
}

@media (max-width: 800px) {
  .panda__container .panda__block .main-cameras .main-cameras__top .main-cameras__icons .ico-like,
  .panda__container .panda__block .main-cameras .main-cameras__top .main-cameras__icons .ico-info {
    width: 34px;
  }
}

@media (max-width: 400px) {
  .panda__container .panda__block .main-cameras .main-cameras__top .main-cameras__icons .ico-like,
  .panda__container .panda__block .main-cameras .main-cameras__top .main-cameras__icons .ico-info {
    width: 24px;
  }
}

@media (max-width: 1300px) {
  .panda__container .panda__block .main-cameras .main-cameras__top .main-cameras__icons {
    margin-right: 40px;
  }
}

@media (max-width: 800px) {
  .panda__container .panda__block .main-cameras .main-cameras__top .main-cameras__icons {
    width: 95px;
    margin-right: 15px;
    margin-top: 5px;
  }
}

@media (max-width: 400px) {
  .panda__container .panda__block .main-cameras .main-cameras__top .main-cameras__icons {
    width: 60px;
    margin-top: -12px;
    margin-right: -5px;
  }
}

@media (max-width: 1300px) {
  .panda__container .panda__block .main-cameras .main-cameras__top {
    margin-bottom: 5px;
  }
}

@media (max-width: 1100px) {
  .panda__container .panda__block .main-cameras .main-cameras__top {
    margin-bottom: 0px;
  }
}

@media (max-width: 1300px) {
  .panda__container .panda__block .main-cameras {
    margin-bottom: 25px;
  }
}

@media (max-width: 800px) {
  .panda__container .panda__block .main-cameras {
    margin-bottom: 13px;
  }
}

@media (max-width: 400px) {
  .panda__container .panda__block .main-cameras {
    margin-bottom: 7px;
  }
}

.panda__container .panda__block .main-cameras__text {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #0d444d;
  line-height: 21px;
  text-transform: capitalize;
  text-align: left;
  margin-bottom: 10px;
}

@media (max-width: 1300px) {
  .panda__container .panda__block .main-cameras__text {
    margin-left: 10px;
  }
}

@media (max-width: 800px) {
  .panda__container .panda__block .main-cameras__text {
    margin-top: -10px;
    margin-left: 0;
    font-size: 14px;
    margin-bottom: 10px;
  }
}

@media (max-width: 400px) {
  .panda__container .panda__block .main-cameras__text {
    margin-left: -5px;
  }
}

.panda__container .panda__block .panda__video {
  width: 100%;
  height: 605px;
  border-radius: 20px;
}

@media (max-width: 1210px) {
  .panda__container .panda__block .panda__video {
    height: 50vw;
    width: 98%;
  }
}

@media (max-width: 1000px) {
  .panda__container .panda__block .panda__video {
    height: 49vw;
  }
}

@media (max-width: 400px) {
  .panda__container .panda__block .panda__video {
    height: 55vw;
    width: 100%;
    border-radius: 10px;
  }
}

@media (max-width: 1300px) {
  .panda__container .panda__block {
    margin: 35px 0 0 40px;
  }
}

@media (max-width: 800px) {
  .panda__container .panda__block {
    margin: 10px 0 0 25px;
  }
}

@media (max-width: 510px) {
  .panda__container .panda__block {
    max-width: 1510px;
    padding: 0 15px;
    width: 100%;
    margin: auto;
    margin: 0;
    margin-left: -6px;
  }
}

@media (max-width: 330px) {
  .panda__container .panda__block {
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .panda__container {
    display: block;
    padding: 0;
  }
}

.side-cameras .side-cameras__text {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #0d444d;
  text-align: left;
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  .side-cameras .side-cameras__text {
    font-size: 14px;
    margin-bottom: 0px;
  }
}

.side-cameras .side-cameras__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.side-cameras .side-cameras__slider .video-skin {
  position: relative;
}

.side-cameras .side-cameras__slider .video-skin::after {
  content: "";
  position: absolute;
  left: 0;
  width: 380px;
  height: 240px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 1500px) {
  .side-cameras .side-cameras__slider .video-skin::after {
    width: 25vw;
    height: 200px;
  }
}

@media (max-width: 1200px) {
  .side-cameras .side-cameras__slider .video-skin::after {
    width: 24vw;
    height: 16vw;
  }
}

@media (max-width: 1000px) {
  .side-cameras .side-cameras__slider .video-skin::after {
    width: 35vw;
    height: 22vw;
  }
}

@media (max-width: 850px) {
  .side-cameras .side-cameras__slider .video-skin::after {
    width: 32vw;
  }
}

@media (max-width: 800px) {
  .side-cameras .side-cameras__slider .video-skin::after {
    width: 235px;
    height: 24vw;
  }
}

@media (max-width: 620px) {
  .side-cameras .side-cameras__slider .video-skin::after {
    width: 35vw;
  }
}

@media (max-width: 510px) {
  .side-cameras .side-cameras__slider .video-skin::after {
    width: 96%;
  }
}

@media (max-width: 450px) {
  .side-cameras .side-cameras__slider .video-skin::after {
    width: 96%;
    margin-right: 5px;
    height: 28vw;
  }
}

.side-cameras .side-cameras__slider .video-skin::before {
  content: url(../../assets/icons/live-btn-ico.svg);
  position: absolute;
  left: 25px;
  top: 25px;
}

@media (max-width: 800px) {
  .side-cameras .side-cameras__slider .video-skin::before {
    left: 10px;
    top: 10px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.side-cameras .side-cameras__slider .video-skin .side-cameras__video {
  width: 380px;
  height: 240px;
  border-radius: 15px;
}

@media (max-width: 1500px) {
  .side-cameras .side-cameras__slider .video-skin .side-cameras__video {
    width: 25vw;
    height: 200px;
  }
}

@media (max-width: 1200px) {
  .side-cameras .side-cameras__slider .video-skin .side-cameras__video {
    width: 24vw;
    height: 16vw;
  }
}

@media (max-width: 1000px) {
  .side-cameras .side-cameras__slider .video-skin .side-cameras__video {
    width: 35vw;
    height: 22vw;
  }
}

@media (max-width: 850px) {
  .side-cameras .side-cameras__slider .video-skin .side-cameras__video {
    width: 32vw;
  }
}

@media (max-width: 800px) {
  .side-cameras .side-cameras__slider .video-skin .side-cameras__video {
    width: 235px;
    height: 24vw;
  }
}

@media (max-width: 620px) {
  .side-cameras .side-cameras__slider .video-skin .side-cameras__video {
    width: 35vw;
  }
}

@media (max-width: 510px) {
  .side-cameras .side-cameras__slider .video-skin .side-cameras__video {
    width: 93%;
  }
}

@media (max-width: 450px) {
  .side-cameras .side-cameras__slider .video-skin .side-cameras__video {
    width: 95%;
    height: 28vw;
    margin-right: 5px;
  }
}

@media (max-width: 1000px) {
  .side-cameras .side-cameras__slider .video-skin:nth-child(3) {
    display: none;
  }
}

.side-cameras .side-cameras__slider .side-cameras__arrows {
  margin: auto 0;
  height: 100px;
}

.side-cameras .side-cameras__slider .side-cameras__arrows .right-arrow {
  content: url(../../assets/icons/right-arrow-ico.svg);
  cursor: pointer;
}

.side-cameras .side-cameras__slider .side-cameras__arrows .right-arrow:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media (max-width: 500px) {
  .side-cameras .side-cameras__slider .side-cameras__arrows .right-arrow {
    position: absolute;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    margin: 0;
    margin-top: 22px;
    right: 0px;
  }
}

.side-cameras .side-cameras__slider .side-cameras__arrows .left-arrow {
  content: url(../../assets/icons/left-arrow-ico.svg);
  cursor: pointer;
}

.side-cameras .side-cameras__slider .side-cameras__arrows .left-arrow:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media (max-width: 500px) {
  .side-cameras .side-cameras__slider .side-cameras__arrows .left-arrow {
    display: none;
  }
}

@media (max-width: 1200px) {
  .side-cameras .side-cameras__slider .side-cameras__arrows {
    margin-left: -15px;
    margin-right: 15px;
  }
}

@media (max-width: 700px) {
  .side-cameras .side-cameras__slider .side-cameras__arrows {
    margin-left: -10px;
    margin-right: 10px;
    margin-top: 15px;
  }
}

@media (max-width: 510px) {
  .side-cameras .side-cameras__slider .side-cameras__arrows {
    margin: 0;
  }
}

@media (max-width: 400px) {
  .side-cameras .side-cameras__slider .side-cameras__arrows {
    margin-top: -5px;
  }
}

@media (max-width: 850px) {
  .side-cameras {
    width: 76vw;
  }
}

@media (max-width: 800px) {
  .side-cameras {
    width: 84vw;
  }
}

@media (max-width: 660px) {
  .side-cameras {
    width: 83vw;
  }
}

@media (max-width: 620px) {
  .side-cameras {
    width: 81vw;
  }
}

@media (max-width: 550px) {
  .side-cameras {
    width: 80vw;
  }
}

@media (max-width: 500px) {
  .side-cameras {
    width: 86vw;
  }
}

.information {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.information .information__info-blog {
  text-align: left;
  width: 600px;
}

.information .information__info-blog .information__top-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #0d444d;
  font-size: 16px;
  line-height: 19px;
  text-transform: none;
  margin-bottom: 5px;
  color: #0d444d;
}

.information .information__info-blog .information__top-text::first-letter {
  text-transform: capitalize;
}

.information .information__info-blog .information__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #0d444d;
  text-transform: none;
  margin-bottom: 40px;
}

@media (max-width: 800px) {
  .information .information__info-blog .information__text {
    margin-bottom: 17px;
  }
}

@media (max-width: 400px) {
  .information .information__info-blog .information__text {
    margin-bottom: 22px;
  }
}

.information .information__info-blog a {
  display: inline-block;
  border-bottom: 0.5px solid #0d444d;
  text-shadow: 0 8px 10px #c5e1e5;
}

@media (max-width: 1500px) {
  .information .information__info-blog {
    width: 300px;
  }
}

@media (max-width: 1100px) {
  .information .information__info-blog {
    margin-right: 50px;
    height: 400px;
    margin-bottom: 0px;
  }
}

.information .information__facts-blog {
  text-align: left;
  width: 600px;
}

.information .information__facts-blog .information__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  position: relative;
  margin-left: 25px;
  font-size: 14px;
  line-height: 20px;
  color: #0d444d;
  text-transform: none;
  margin-bottom: 20px;
}

.information .information__facts-blog .information__text::after {
  position: absolute;
  top: 0px;
  left: -25px;
  content: url(../../assets/icons/Vector-30.svg);
}

@media (max-width: 400px) {
  .information .information__facts-blog .information__text {
    margin-bottom: 12px;
    font-size: 12px;
  }
}

@media (max-width: 1500px) {
  .information .information__facts-blog {
    width: 550px;
    margin-right: 50px;
  }
}

@media (max-width: 800px) {
  .information .information__facts-blog {
    width: 80vw;
    margin-right: 0px;
  }
}

@media (max-width: 800px) {
  .information .information__facts-blog {
    margin-top: 70px;
  }
}

.information .information__heading-text {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  text-align: left;
  color: #0d444d;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 25px;
}

@media (max-width: 800px) {
  .information .information__heading-text {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .information .information__heading-text {
    margin-bottom: 15px;
  }
}

@media (max-width: 1300px) {
  .information {
    margin-top: 60px;
  }
}

@media (max-width: 1100px) {
  .information {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 1200px;
  }
}

@media (max-width: 800px) {
  .information {
    margin-top: 40px;
    height: 930px;
  }
}

@media (max-width: 640px) {
  .information {
    height: 810px;
  }
}

@media (max-width: 585px) {
  .information {
    height: 930px;
  }
}

@media (max-width: 400px) {
  .information {
    margin-top: 20px;
    margin-left: -5px;
    height: 1020px;
  }
}

.donate {
  height: 400px;
  background: url(../../assets/fonts/how-it-works-fon.svg) repeat-x top;
  background-size: 100%cover;
}

.donate .donate__container {
  max-width: 1510px;
  padding: 0 15px;
  width: 100%;
  margin: auto;
}

.donate .donate__container .pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin-bottom: 25px;
}

.donate .donate__container .pictures .tree__1 {
  content: url(../../assets/icons/tree.svg);
  margin-left: 11%;
}

@media (max-width: 1210px) {
  .donate .donate__container .pictures .tree__1 {
    margin-top: 120px;
  }
}

@media (max-width: 800px) {
  .donate .donate__container .pictures .tree__1 {
    margin-top: 130px;
    margin-left: -50px;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media (max-width: 400px) {
  .donate .donate__container .pictures .tree__1 {
    display: none;
  }
}

.donate .donate__container .pictures .panda__1 {
  position: relative;
  margin-top: 90px;
  margin-left: -130px;
}

.donate .donate__container .pictures .panda__1::after {
  top: -75px;
  left: 110px;
  position: absolute;
  content: url(../../assets/icons/Bamboo.svg);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 1210px) {
  .donate .donate__container .pictures .panda__1 {
    margin-top: 140px;
    margin-left: 100px;
  }
}

@media (max-width: 800px) {
  .donate .donate__container .pictures .panda__1 {
    margin-top: 130px;
    margin-left: -100px;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media (max-width: 400px) {
  .donate .donate__container .pictures .panda__1 {
    margin: 50px auto 30px auto;
  }
}

.donate .donate__container .pictures .tree__2 {
  content: url(../../assets/icons/tree.svg);
  margin-right: -20%;
  margin-bottom: -250px;
}

@media (max-width: 1800px) {
  .donate .donate__container .pictures .tree__2 {
    margin-right: 0%;
  }
}

@media (max-width: 1210px) {
  .donate .donate__container .pictures .tree__2 {
    margin-top: 0px;
    margin-bottom: 0;
  }
}

@media (max-width: 800px) {
  .donate .donate__container .pictures .tree__2 {
    margin-top: -120px;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    margin-right: -120px;
  }
}

@media (max-width: 400px) {
  .donate .donate__container .pictures .tree__2 {
    display: none;
  }
}

.donate .donate__container .donate__btn {
  outline: none;
  cursor: pointer;
  border: none;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 355px;
  height: 50px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 2px 20px rgba(185, 213, 217, 0.6);
          box-shadow: 0px 2px 20px rgba(185, 213, 217, 0.6);
  background-color: #c5e1e5;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: #0d444d;
  text-transform: uppercase;
}

.donate .donate__container .donate__btn:hover {
  background-color: #aad8df;
}

@media (max-width: 1210px) {
  .donate .donate__container .donate__btn {
    position: absolute;
    margin-top: -60px;
    height: 40px;
  }
}

@media (max-width: 800px) {
  .donate .donate__container .donate__btn {
    width: 270px;
    font-size: 14px;
    margin-top: -90px;
  }
}

@media (max-width: 400px) {
  .donate .donate__container .donate__btn {
    margin-top: -70px;
    margin-left: 46%;
  }
}

@media (max-width: 1300px) {
  .donate {
    height: 390px;
  }
}

@media (max-width: 800px) {
  .donate {
    background-position: -140px -30px;
    overflow: hidden;
    height: 380px;
  }
}

@media (max-width: 400px) {
  .donate {
    background-image: none;
    background-color: #2a8086;
    height: 280px;
  }
}

.footer__container {
  background-color: #196469;
  border-bottom: 5px solid #1e697063;
}

.footer__container .footer__block {
  max-width: 1510px;
  padding: 0 15px;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 200px;
}

.footer__container .footer__block a {
  margin-top: 55px;
}

@media (max-width: 710px) {
  .footer__container .footer__block a {
    margin-top: 20px;
  }
}

.footer__container .footer__block .footer__logo {
  width: 105px;
  margin-right: 50px;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .footer__container .footer__block .footer__logo {
    margin-top: -35px;
    margin-left: 25px;
    margin-right: 40px;
  }
}

@media (max-width: 720px) {
  .footer__container .footer__block .footer__logo {
    width: 50px;
    margin-top: 0px;
    margin-left: 7px;
  }
}

.footer__container .footer__block ul {
  max-width: 515px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: auto auto auto 50px;
}

.footer__container .footer__block ul li {
  list-style: none;
}

.footer__container .footer__block ul li:nth-child(3) {
  border-bottom: 2px solid #c5e1e5;
}

.footer__container .footer__block ul li a {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #c5e1e5;
  text-decoration: none;
}

.footer__container .footer__block ul li a:hover {
  border-bottom: 2px solid #c5e1e5;
}

@media (max-width: 1300px) {
  .footer__container .footer__block ul {
    width: 410px;
  }
}

@media (max-width: 1100px) {
  .footer__container .footer__block ul {
    display: none;
  }
}

.footer__container .footer__block .auther__info {
  width: 200px;
  margin: auto 0 auto auto;
  color: #c5e1e5;
}

@media (max-width: 710px) {
  .footer__container .footer__block .auther__info {
    font-size: 12px;
    width: 160px;
  }
}

@media (max-width: 1300px) {
  .footer__container .footer__block {
    height: 115px;
  }
}

@media (max-width: 710px) {
  .footer__container .footer__block {
    height: 80px;
  }
}
/*# sourceMappingURL=style.css.map */